extend baseEmail

block content
    .headLogo
        img(src="https://asset.cloudinary.com/dw8k3b8h7/bb30157c80fe26b6b1bdf4cab687ff38" alt="" style="width: 30px")
        span Action required : Activate your facebook account
    p Hello #{firstname},
    p You recently created an account on facebook. To complete your registration, please confirm your account.
    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}` target='_blank') Confirm your account
    p facebook allows you to stay in touch with all your friends, once verified on facebook, you can share photos, organize events and much more.
    p - Jeff Jiang
